<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Latest Offer Screen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>

    <ion-row>
      <ion-col  sizeLg="6" sizeMd="6" sizeXs="12">
        <div>
          <img src="assets/img/first.webp">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/second.webp">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <div>
          <img src="assets/img/third.webp">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="assets/img/fourth.webp">
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  
</ion-content>
